@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@import "tailwindcss";

/* Optional font */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"); */

body {
  font-family: "Inter", system-ui, sans-serif;
}
